@model IEnumerable<JobOffersWebsite.Models.Job>


<div class="panel panel-default" style="padding:15px;">
    <h1 class="panel-heading">نتائج البحث</h1>

    <div class="row">
        @foreach (var subItem in Model)
        {
            <div class="col-md-3" style="margin-left:20px; margin-bottom:30px; height: 380px;">
                <img class="thumbnail" src="~/Uploads/@subItem.JobImage" />
                <h3>@Html.DisplayFor(m => subItem.JobName)</h3>
                @Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(m => subItem.JobDescription).ToString()))
                <br />
                @*<h5>@Html.DisplayFor(m => subItem.JobDescription)</h5>*@
                @*<button class="btn btn-information">التفاصيل</button>*@
                @Html.ActionLink("التفاصيل", "Details", new { id = subItem.Id }, new { @class = "btn btn-primary" })
            </div>

        }
    </div>
</div>